# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TheChosenOne.iml
/contentModel.xml
# 数据源本地存储已忽略文件
/../../../../../../../:\UnityProject\TheChosenOne\TheChosenOne\.idea\.idea.TheChosenOne\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
